<!DOCTYPE html>
<html>
    <head>
        <script src="/static/jquery-2.1.4.js"></script>
        <title>CoMAPorate</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        
        <style>
            #exampleInputName2 {
                width:300px;                
            }
            .container {
                top:50%;                
            }
            body {
                background: url(/static/mapbackground.png);
            }
        </style>
    </head>
    <body>
        <center>
            <h1 style="color:white">CoMAPorate</h1>
        </center>
        <div class="container">
            <div class="row text-center">
                <button type="button" class="btn btn-default">Upload a Map</button><br><br>
                <center>
                    <input type="text" placeholder=" e.g. Washington D.C." class="form-control" id="exampleInputName2">
                </center>
                <input type="button" class="btn btn-default" value="Find a Map" id="WashingtonDC">
            </div>
        </div>
        <script src="/static/respondToClick.js"></script>
    </body>
</html>