<!DOCTYPE html>
<html>
    <head>
        <title>CoMAPorate</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </head>
    <body>
    <link  rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <div class="container">
        <div class="row text-center">
            <button type="button">Upload a Map</button><br></br>
            <p></p>
                <input type="text" name = "searchTB" class="input-xxlarge search-query"><br></br>
                <input type="button" value="Find a Map">
        </div>
    </div>
    </body>
</html>