<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <style>
			.form-control, #exampleInputName2 {
                width:200px;                
            }
        </style>
    </head>
    <body>
		<center>
			<input type="text" id="searchTB" class="form-control" id="exampleInputName2" style></input>
			<button type="button" id="searchBtn" class="btn btn-default" onclick="search()">Search</button><br><br>
        </center>
        <script src="/static/jquery-2.1.4.js"></script>
        <center>
	        <div id="imageContainer">
	            <img src="/static/white-house-grounds-map.jpg" id="image" alt="white house" class=".img-responsive">
	        </div>
	    </center>
		<div id="searchResults" style="display:none">
		<p onclick="choosePoint()">test</p>
		</div>
        <script src="/static/respondToClick.js"></script>
		<script>
			function search()
			{
				document.getElementById("imageContainer").style.display = "none"
				document.getElementById("searchResults").style.display = "initial"
			}
			function choosePoint()
			{
				document.getElementById("imageContainer").style.display = "initial"
				document.getElementById("searchResults").style.display = "none"
			}
		</script>
    </body>
</html>