<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
    </head>
    <body>
		<input type="text" id="searchTB"></input>
		<button type="button" id=searchBtn onclick="search()">Search</button><br>
        <script src="/static/jquery-2.1.4.js"></script>
        <div id="imageContainer" style="position: absolute; left: 0; top: 30;">
            <img src="/static/white-house-grounds-map.jpg" id="image" alt="white house" style="position: relative; top: 0; left: 0;" class=".img-responsive">
        </div>
		<div id="searchResults" style="display:none">
		<p onclick="choosePoint()">test</p>
		</div>
        <script src="/static/respondToClick.js"></script>
		<script>
			function search()
			{
				document.getElementById("imageContainer").style.display = "none"
				document.getElementById("searchResults").style.display = "initial"
			}
			function choosePoint()
			{
				document.getElementById("imageContainer").style.display = "initial"
				document.getElementById("searchResults").style.display = "none"
			}
		</script>
    </body>
</html>